{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상원금속</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>
<body>
<div>
    <nav class="navbar navbar-default">
        <div class="col-lg-6 col-lg-offset-3
				col-md-8 col-md-offset-2
				col-sm-10 col-sm-offset-1
				col-xs-12">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">상원금속</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'product-list' %}">제품</a></li>
            </ul>
        </div>
    </nav>
    <div class="col-lg-6 col-lg-offset-3
				col-md-8 col-md-offset-2
				col-sm-10 col-sm-offset-1
				col-xs-12">

        <h1>{% block title %}{% endblock %}</h1>

        {% block content %}
        {% endblock %}
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</html>